<h1>TEACHERS</h1>
<p>ホーム</p>
<div class="">
  <ul>
    <li><%= link_to "ホーム", root_path %></li>
    <li><%= link_to "新規登録", new_user_path %></li>
    <li><%= link_to "ログイン", login_path %></li>
    <li><%= link_to "TEACHERSとは", about_path %></li>
  </ul>
</div>

<% if signed_in? %>
  <h1>ログインしてます</h1>
<% end %>
